server:
  port: 8089

spring:
  application:
    name: reporting-service
  
  datasource:
    url: jdbc:postgresql://postgres-access:5432/access_domain_db
    username: access_user
    password: access_pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: reporting-group
      auto-offset-reset: earliest

management:
  endpoints:
    web:
      exposure:
        include: health,info



  

