server:
  port: 8083  

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://postgres-core:5432/core_domain_db?currentSchema=security
    username: core_user
    password: core_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
