server:
  port: 8081

spring:
  application:
    name: auth-service

management:
  endpoints:
    web:
      exposure:
        include: health,info

spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: parking-group
      auto-offset-reset: earliest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

