server:
  port: 8084

spring:
  application:
    name: parking-lot-service

  datasource:
    url: jdbc:postgresql://postgres-core:5432/core_domain_db
    username: core_user
    password: core_pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: kafka:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

    consumer:
      group-id: parking-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

  redis:
    host: redis
    port: 6379


management:
  endpoints:
    web:
      exposure:
        include: health,info




