name: Vehicle Domain - DockerHub

on:
  push:
    paths:
      - "vehicle-domain/**"
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Vehicle Service
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/vehicle-service:latest ./vehicle-domain/vehicle-service
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/vehicle-service:latest
