server:
  port: 8085

spring:
  application:
    name: entry-service

  datasource:
    url: jdbc:postgresql://postgres-access:5432/access_domain_db
    username: access_user
    password: access_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

  redis:
    host: redis
    port: 6379

  supabase:
    url: ${SUPABASE_URL}
    apikey: ${SUPABASE_API_KEY}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always

