server:
  port: 8085

spring:
  application:
    name: entry-service

  datasource:
    url: jdbc:postgresql://postgres-access:5432/access_domain_db
    username: access_user
    password: access_pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  redis:
    host: redis
    port: 6379

management:
  endpoints:
    web:
      exposure:
        include: health,info

supabase:
  url: ${SUPABASE_URL}
  apikey: ${SUPABASE_API_KEY}


